<!DOCTYPE html>
<html lang="en">
{% extends 'game/base.html' %}
    {% block gameContent %}
        <a href="{%url 'log:logout'%}">Logout</a>
        <br>
        {% if request.user.is_authenticated %}
            {% for i in chars %}
                {% if i.user == request.user %}
                    <h3>Dein Char:</h3>
                    <p>Name:            {{ i.charName}}</p>
                    <p>KLasse:          {{ i.charClasse}}</p>
                    <p>ATK:             {{ i.charATK}}</p>
                    <p>DEF:             {{ i.charDEF}}</p>
                    <p>MAN:             {{ i.charMAN}}</p>
                    <p>EP:              {{ i.charEP}}</p>
                    <p>Level:           {{ i.charLevel}}</p>
                    <p>vernichtet:      {{ i.besigtegegner}}</p>
                    <br>
                    <a href="{%url 'game:kampf'%}">Kampf</a>
                {% else %}
                    <a href="{%url 'game:charChreate'%}">CahrMake</a>
                {% endif %}
            {% empty %}  <!-- wenn posts lehr ist -->
                {% if user == request.user %}
                    <p>Du hast noch kein Char</p>
                    <a href="{%url 'game:charChreate'%}"> CahrMake</a>
                {%else%}
                    <p> Der User {{ user.username }} hatt noch keine Einträge</p>
                {% endif %}
            {% endfor %}
        {%else%}
            <a href="{%url 'log:login'%}">Login</a>
            <a href="{%url 'log:register'%}">Account anlegen</a>

        {% endif %}
    {% endblock %}
</html>