<!DOCTYPE html>
<html lang="en">
{% extends 'game/base.html' %}

    {% block gameContent %}
            {% if request.user.is_authenticated %}
                {% for i in chars %}
                    {% if i.user == request.user %}
                        <input type ="button" class = "button" id ="start" value="Start" onclick="startKampf({{ankreifer.leben}},{{ gegner.leben}}, {{ankreifer.atk}} , {{gegner.atk}} )">

                            <div id = "Char" style="visibility: hidden">
                                <h1>Du</h1>
                            <p>Name:            {{ i.charName}}</p>
                            <p >KLasse:          {{ i.charClasse}}</p>
                            <p id = "leben"> </p>
                          </div>

                            <br>

                            <div id = "Gegner" style="visibility: hidden">
                            <h1>Gegner</h1>
                            <p>Name:           T-Rex</p>
                            <p id = "leben2"></p>
                          </div>

                            <br>

                    {% else %}
                        <a href="{%url 'game:charChreate'%}">CahrMake</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            <div id = "Atacken" style="visibility: hidden">
            <p>___________________________</p>
            <p>Angriffe:</p>
            <input type="button" class = "button" id="angrif1" value="Schwert" style= "color:rgb(91, 51, 145)" onclick="angrif1();Kampf()">
            <input type="button" class = "button" id="angrif2" value="Magieball" style= "color:rgb(91, 51, 145)" onclick="angrif2();Kampf()">
            <p>___________________________</p>
            <input type="button" class = "button" id="gegnerk" value="Angriff Gegner" disabled="disabled"  onclick="gegnerk();Kampf()">
            </div>
            <p id="ausgang"></p>
            <a href ="{%url 'game:sieg'%}"  id="Sieg" name ="Sieg"  style="visibility: hidden">Weiter</a>
            <a href ="{%url 'game:niederlage'%}" id = "Niederlage" name ='Niedelage' style="visibility: hidden">Weiter</a>

{% csrf_token %}
    {% endblock %}


</html>